*
!.gitignore
!README.md
!nvim
!nvim/**
!tmux
!tmux/**
tmux/plugins/**
!wezterm
!wezterm/**
!fish
!fish/config.fish
!fish/functions/
fish/functions/*
!fish/functions/git-things.fish
!biome.json
!.editorconfig
